.workfromhome1{
    width: 260px;
    height: 230px;
    margin-left: 60px;
    margin-top: 50px;
    background: white;
    border: 0.1px solid black;
}

.workfromhome2{
    width: 260px;
    height: 230px;
    margin-left: 60px;
    margin-top: 50px;
    background: white;
    border: 0.1px solid black;
}


.home{
    width: 250px;
    height: 150px;
    margin-left: 10px;
   
}
.workout{
    width: 140px;
    height: 130px;
    margin-left: 60px;
    margin-top: 10px;
}
.d1{
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}
.d2{
    color: black;
    margin-left: 40px;
    margin-top: 15px;
}
