.newgradient{
    background: linear-gradient(105.17deg, #F00B51 0%, #730062 100%);
}

.search1{
    margin-top: -40px;
    margin-right: -10px;
    width: 40px;
    height: 40px;
}
.newwork-project{
    margin-top: 5px;
}
.inputfile{
    margin-left: 700px;
}
.upload{
    
}