.import-user {
    .text-title {
        display: inline;
        margin-top: 10px;
      }
    
      .border {
        margin-top: 20px;
        border: 1px solid #C4C4C4;
        width: 100%;
      }
}