.Logo img {
    width: 332px;
    height: 194px;
    margin-top: 20%;

}


@media screen and (min-width: 1280px) {
    .Logo img{
        width: 332px;
        height: 194px;
        margin-left: 37%;
    }
  }