#flyout-menu {
  width: 50%;
  height: 100vh;
  background-color: var(--disabled);
  position: fixed;
  top: 47px;
  left: 0;
  transition: transform 0.3s ease-in;
  overflow: auto;
  z-index: 1000;
  outline: none;

  &:focus {
    border: none;
  }

  @media screen and (min-width: 1024px) {
    width: 20%;
    padding: 20px;
    top: 57px;
  }

  &.show {
    transform: translateX(0);
  }

  &.hide {
    transform: translateX(-100%);
  }

  a {
    color: var(--black);
    text-decoration: none;
    padding: 10px;
    margin-bottom: 0;
    font-size: 1.3rem;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}

.menubar {
  width: 100%;
  background-color: var(--primary);
  padding: 5px;

  @media screen and (min-width: 1024px) {
    padding: 10px;
  }

  span {
    cursor: pointer;
  }
}