#flyout-menu {
  width: 50%;
  height: 100vh;
  background-color: var(--disabled);
  position: fixed;
  top: 47px;
  left: 0;
  transition: transform 0.3s ease-in;
  overflow: auto;
  z-index: 1000;
  outline: none;

  &:focus {
    border: none;
  }

  @media screen and (min-width: 1280px) {
    width: 20%;
    padding: 20px;
    top: 57px;
  }

  &.show {
    transform: translateX(0);
  }

  &.hide {
    transform: translateX(-100%);
  }

  a,
  p {
    color: var(--black);
    text-decoration: none;
    padding: 3px 10px;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: var(--text-bold);
    display: block;
    cursor: pointer;

    &:hover,
    &.active {
      text-decoration: underline;
    }

    @media screen and (min-width: 1280px) {
      padding: 5px 10px;
    }

    &.submenu {
      font-weight: var(--text-normal);
      padding-left: 2rem;
    }
  }

  p:hover {
    text-decoration: none;
    cursor: default;
  }
}

.menubar {
  width: 100%;
  background-color: var(--primary);

  span {
    cursor: pointer;
  }
}