.User-Import {
    .text-title {
        margin-top: 10px;
        overflow: hidden;

        h2 {
            float: left;
        }
        .icon {
            color: #4DB6AC;
            font-size: 32px;
            margin-top: 20px;
            margin-right: 10px;
            float: right;
        }
      }
    
      .border {
        margin-top: 5px;
        border: 1px solid #C4C4C4;
        width: 100%;
      }
}